$nav-and-footer: #2e5446;
$nav-text: #fff;
$nav-height: 80px;
$sub-nav: #a4c2b0;
$sub-nav-text: #000;
$max-width: 1200px;
$splash-overlay: #1c3326e7;
$background-green: #2e5446;
$cta-color: #f9ea9d;
$price-color: rgb(52, 117, 52);
$dropshadow: rgba(0, 0, 0, 0) 0px 2px 2px;
$light-gray: rgb(241, 241, 241);

body {
  overflow-x: hidden;
}

@keyframes move-up {
  0% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Animation på buger menu
.Buger {
  animation-name: Buger;
  animation-duration: 0.5s;
  background-image: $nav-and-footer;
}
@keyframes Buger {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.App {
  text-align: center;
  * {
    transition: 0.2s all;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
  }
  h2 {
    font-size: 30px;
    font-size: clamp(25px, 5vw, 50px);
    font-weight: lighter;
  }
  a:hover,
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .cta-contrast {
    background-color: $cta-color !important;
    color: black !important;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: $cta-color 2px solid !important;
    &.adding {
      color: $cta-color !important;
      background-color: black !important;
      border: $cta-color 2px solid;
    }
  }

  header {
    z-index: 10;
    // NAVIGATION
    .some-nav {
      background-color: white;
      padding: 5px;
      z-index: 1;
      position: relative;
      .max-width {
        max-width: $max-width;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .social-media-icon {
          height: 20px;
          padding: 0 5px;
          svg,
          svg g path {
            height: inherit;
            fill: black;
          }
          #Mail_sort {
            .cls-1 {
              fill: white;
              stroke: black;
              stroke-width: 5px;
            }
            line {
              stroke: black;
              stroke-width: 5px;
            }
          }
        }
      }
    }
    .navigation-line {
      z-index: 10;
      transition: all 5s;
      background: $nav-and-footer;
      transition: background-color 0s;
      &.nav-closed {
        height: $nav-height;
      }
      // Gør så logo er i den rigtige side på mobil
      @media screen and (max-width: 749px) {
        .contentMobil {
          flex-direction: row !important;
        }
      }
      .content {
        max-width: $max-width;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: $nav-text;
        margin: auto;
        background: $nav-and-footer;
        .nav-logo {
          position: absolute;
          left: 0;
          top: 30px;
          padding: 20px 10px;
          height: $nav-height;
          box-sizing: border-box;
          transition: none;
          a {
            display: flex;
            justify-content: center;
            button {
              font-family: "Gentium Book Basic", serif;
              font-size: 120%;
            }
          }
          #logo-svg {
            height: 50px;
            fill: white;
          }
        }
        a {
          text-decoration: none;
          align-self: center;
          &.chosen {
            border: solid rgba(255, 255, 255, 0.5) 1px;
            border-radius: 5px;
          }
        }
        .kurv-cta {
          display: flex;
          flex-direction: row;
          align-items: center;
          #kurv-svg {
            width: 30px;
            margin-right: -10px;
          }
        }
        .basket-amount {
          position: absolute;
          transform: translate(-4px, -12px);
          background-color: white;
          padding: 2px 5px;
          border-radius: 5px;
          color: $background-green;
          font-size: 14px;
        }
        .cta-contrast {
          height: 40px;
          padding: 0 20px;
          align-self: center;
        }
        .nav-mobile {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          color: $nav-text;
          padding-top: $nav-height;
          text-align: left;
          > *,
          div label,
          .kurv-cta {
            width: 100%;
            padding: 10px 40px;
          }
          .kurv-cta {
            justify-content: center;
          }
          div div {
            padding: 10px 0;
          }
          .nav-sub-arrow {
            &.closed {
              rotate: 180deg;
            }
          }
          .nav-subpages .content {
            display: flex;
            flex-direction: column;
            background-color: $sub-nav;
            a button {
              color: $sub-nav-text;
              background-color: $sub-nav;
            }
          }
          .search {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 30px;
            input {
              width: 98%;
            }
          }
        }
        .search-button {
          margin-left: -45px;
        }
        #search-svg {
          width: 32px;
          fill: rgb(0, 0, 0);
          opacity: 0.7;
        }
        .nav-web {
          height: $nav-height;
          display: flex;
          flex-direction: row;
          a,
          div div a {
            padding: 10px;
            align-content: center;
            display: flex;
          }
          div {
            align-content: center;
            display: flex;
            label {
              align-items: center;
              display: flex;
            }
          }
          .nav-subpages {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            height: $nav-height;
            padding: 0;
            top: $nav-height + 30px;
            background-color: $sub-nav;
            .content {
              display: flex;
              flex-direction: row;
              max-width: $max-width;
              background-color: $sub-nav;
            }
            a {
              background-color: $sub-nav;
              border: $sub-nav;
              border-radius: 0;
              button {
                color: $sub-nav-text;
                background-color: $sub-nav;
              }
              &.chosen {
                opacity: 0.9;
              }
            }
            .nav-arrow {
              width: 15px;
              height: 15px;
              position: absolute;
              top: -8px;
              rotate: 45deg;
              background-color: $sub-nav;
            }
          }
        }
        #search {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 5px 7px;
          border-radius: 5px;
          border: none;
          height: 40px;
          &:focus {
            background-color: white;
          }
        }
        .burger-menu-icon {
          width: 40px;
          font-size: 30px;
          height: 40px;
          position: absolute;
          right: 0;
          top: 25px;
          margin: 20px 10px;
        }
        button,
        div button {
          color: $nav-text;
          background-color: rgba(255, 255, 255, 0);
          border: none;
          cursor: pointer;
        }
      }
      .content-web {
        .nav-logo {
          position: relative;
          align-items: center;
          display: flex;
          top: 0;
        }
      }
    }
  }

  main {
    .max-width {
      width: 100%;
      max-width: $max-width;
      margin: auto;
      height: 100%;
      * {
        animation: move-up 0.8s;
      }
    }
    .breadcrumbs {
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 10px 0;
      a {
        color: gray;
        padding: 0 5px;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        &:after {
          content: ">";
          padding-left: 10px;
          color: gray;
        }
        &:last-of-type:after {
          content: "";
        }
      }
    }
    // FRONTPAGE
    .frontpage {
      .splash {
        height: 600px;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
          z-index: 1;
          position: relative;
          top: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          opacity: 0.3;
          filter: grayscale(1);
        }
        .overlay {
          background-image: linear-gradient(#15221a1a, #2e5446a8 30%);
          height: 100%;
          width: 100%;
          position: relative;
          top: -100%;
          z-index: 2;
          opacity: 0;
        }
        .white-wave {
          background-color: white;
          mask-image: url('data:image/svg+xml,  <svg xmlns="http://www.w3.org/2000/svg" width="1288.006" height="150" viewBox="0 0 1288.006 150"><path id="Path_57" fill="white" data-name="Path 57" class="cls-1" d="M-8241-10906.741h1288.006v-81.99s-97.034-99.546-327.593-110.035-290.152,105.348-562.449,110.035S-8241-11037.61-8241-11037.61Z" transform="translate(8241 11099.438)"/></svg>');
          position: absolute;
          width: 102%;
          height: 300px;
          left: -1%;
          z-index: 3;
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-position: bottom;
          pointer-events: none;
          transform: translateY(-890px);
        }
        .content {
          position: relative;
          text-align: center;
          top: -200%;
          color: white;
          color: black;
          z-index: 4;
          .logo {
            svg {
              height: 100px;
              fill: white;
              fill: black;
              padding-top: 40px;
            }
          }
          h1 {
            font-size: 40px;
            margin: 0;
            font-family: "Gentium Book Basic", serif;
          }
          p {
            font-size: 20px;
          }
          .books {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .books-in-splash {
              width: 100px;
              margin: 15px;
              height: fit-content;
              display: none;
              img {
                width: 100%;
                border-radius: 5px;
              }
              &.book0 {
                order: 1;
                @media screen and (min-width: 800px) {
                  display: block;
                }
              }
              &.book4 {
                order: 5;
                @media screen and (min-width: 800px) {
                  display: block;
                }
              }
              &.book1 {
                width: 150px;
                order: 2;
                @media screen and (min-width: 600px) {
                  display: block;
                }
              }
              &.book3 {
                width: 150px;
                order: 4;
                @media screen and (min-width: 600px) {
                  display: block;
                }
              }
              &.book2 {
                width: 175px;
                order: 3;
                display: block;
              }
            }
          }
        }
      }
      .newest-books {
        margin: 40px 0 80px 0;
        padding: 40px;
        .max-width {
          overflow-x: scroll;
          overflow-y: hidden;
          scrollbar-width: thin;
          scrollbar-color: $background-green $light-gray;
          &::-webkit-scrollbar {
            height: 12px;
          }
          &::-webkit-scrollbar-track {
            background: $light-gray;
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $background-green;
            border-radius: 20px;
          }
          .books {
            display: flex;
            flex-direction: row;
            width: fit-content;
            .bog-element {
              width: 310px;
              flex-grow: 1;
              margin: 10px 0;
              border-right: $light-gray 2px solid;
              padding: 0 20px;
            }
          }
        }
      }
      .book-cta {
        background-color: $background-green;
        color: white;
      }
      .book-cta,
      .blog-cta {
        padding: 60px 0;
        div {
          display: flex;
          flex-direction: column;
          padding: 20px 0;
          @media screen and (min-width: 580px) {
            &.bog-element,
            &.blog-element,
            &.blog-info {
              padding: 5px;
            }
            padding: 20px;
          }
          @media screen and (min-width: 1080px) {
            flex-direction: row;
            section {
              width: 50%;
            }
          }
        }
        .book-grid,
        .blog-grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
          margin: 20px auto;
          width: 100%;
          max-width: $max-width / 2;
          a {
            text-decoration: none;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 40px;
        }
      }
      .newsletter-cta {
        background-color: $background-green;
        color: white;
        padding: 40px 0;
        .holder {
          width: clamp(300px, 60%, 600px);
          margin: auto;
          padding: 40px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 5px;
        }
        form {
          label {
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            width: 60%;
            input {
              border-radius: 5px;
              border: none;
              height: 40px;
              padding: 10px;
              margin-top: 5px;
            }
            .error {
              color: rgb(243, 144, 144);
              text-align: center;
            }
          }
        }
      }
      .socials {
        padding: 40px;
        .holder {
          div {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
            .social-media-icon {
              width: 70px;
              height: 70px;
              margin: 10px;
            }
          }
        }
      }
    }
    // WEBSHOP
    .webshop {
      .books {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 20px 0 40px 0;
        gap: 40px;
        .bog-element {
          display: flex;
          a {
            text-decoration: none;
          }
          .background {
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            padding: 10px;
            border: $light-gray 2px solid;
            .content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              width: 100%;
              .info {
                display: flex;
                flex-direction: column;
                color: black;
                text-align: left;
                padding: 20px 0;
                .titel {
                  margin: 0;
                  font-size: 16px;
                  text-decoration: underline;
                }
                .forfatter {
                  margin: 0;
                  font-size: 12px;
                }
                .pris {
                  margin: 0;
                  background-color: $price-color;
                  width: fit-content;
                  padding: 5px;
                  margin-top: 10px;
                  color: white;
                  border-radius: 5px;
                  font-weight: bold;
                }
              }
              .image-holder {
                height: 200px;
                width: 100%;
                background-color: $light-gray;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                .forsidebillede {
                  height: 100%;
                  border-radius: 5px;
                  object-fit: contain;
                  object-position: top;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
      .sorting {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: solid rgba(0, 0, 0, 0.247) 1px;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;
        p {
          margin: 0 10px 0 0;
          font-size: 12px;
        }
        select {
          background-color: $light-gray;
          padding: 5px 7px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          option {
            text-transform: capitalize;
          }
        }
        .sort-direction {
          font-size: 20px;
          padding-left: 10px;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
    // BOOK DETAILS
    .book-details-holder {
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .content {
        flex-grow: 2;
        flex-basis: 600px;
        text-align: left;
        .image-holder {
          width: 100%;
          height: 200px;
          background-color: $light-gray;
          border-radius: 5px;
          padding: 10px;
          box-sizing: border-box;
          text-align: center;
          img {
            height: 100%;
            border-radius: 5px;
            object-fit: contain;
          }
        }
        .titel {
          margin: 10px 0 0 0;
        }
        p {
          margin: 0;
          padding-bottom: 5px;
        }
        a {
          text-decoration: none;
        }
        .forfatter {
          font-style: italic;
          color: black;
        }
        .pris {
          margin: 0;
          background-color: $price-color;
          width: fit-content;
          padding: 5px;
          margin-bottom: 10px;
          color: white;
          border-radius: 5px;
          font-weight: bold;
        }
        .small {
          font-size: 12px;
          margin: 10px 0;
        }
        .beskrivelse {
          background-color: $light-gray;
          border-radius: 5px;
          padding: 20px;
          margin-bottom: 20px;
        }
        .upper-holder {
          @media screen and (min-width: 750px) {
            display: flex;
            flex-direction: row;
            .image-holder {
              max-width: 50%;
              margin-right: 20px;
            }
          }
        }
      }
      .content + div {
        flex-grow: 1;
        flex-basis: 300px;
        border-radius: 5px;
        h2 {
          font-size: 24px;
          margin: 5px 0 20px 0;
        }
        .other-books {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          // .bog-element {gap
          //   border-radius: 5px;
          //   margin: 5px;
          //   padding: 0 5px;
          //   .background {
          //     background-color: $light-gray;
          //     .content {
          //       img.forsidebillede {
          //         width: 30%;
          //       }
          //       .beskrivelse {
          //         margin: 0;
          //       }
          //     }
          //   }
          // }
          .bog-element {
            display: flex;
            margin: 5px;
            flex-grow: 1;
            flex-basis: 100px;
            a {
              text-decoration: none;
            }
            .background {
              background-color: rgb(255, 255, 255);
              display: flex;
              flex-direction: column;
              border-radius: 5px;
              justify-content: space-between;
              padding: 5px;
              width: 100%;
              padding: 10px;
              border: $light-gray 2px solid;
              .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                .info {
                  display: flex;
                  flex-direction: column;
                  color: black;
                  text-align: left;
                  padding: 20px 0;
                  .titel {
                    margin: 0;
                    font-size: 16px;
                    text-decoration: underline;
                  }
                  .forfatter {
                    margin: 0;
                    font-size: 12px;
                  }
                  .pris {
                    margin: 0;
                    background-color: $price-color;
                    width: fit-content;
                    padding: 5px;
                    margin-top: 10px;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                  }
                }
                .image-holder {
                  height: 200px;
                  width: 100%;
                  background-color: $light-gray;
                  padding: 10px;
                  box-sizing: border-box;
                  border-radius: 5px;
                  .forsidebillede {
                    height: 100%;
                    border-radius: 5px;
                    object-fit: contain;
                    object-position: top;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    // BASKET
    .basket {
      text-align: left;
      background-color: $light-gray;
      border-radius: 5px;
      margin: 10px auto;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      > * {
        max-width: 400px;
        width: 100%;
      }
      h2 {
        margin: 0;
      }
      &.empty-basket {
        p {
          margin: 0 0 20px 0;
        }
      }
      .bookdisplaybasket {
        a {
          text-decoration: none;
          color: black;
        }
        .content {
          display: flex;
          flex-direction: row;
          padding: 10px;
          text-decoration: none;
          background-color: white;
          margin: 5px 0;
          border-radius: 5px;
          .image-holder {
            width: 100px;
            img {
              width: 100%;
              border-radius: 5px;
            }
          }
          .info {
            margin: 0 10px;
            text-align: left;
            display: flex;
            flex-direction: column;
            .remove-button {
              background-color: rgba(255, 255, 255, 0);
              border: none;
              padding: 10px 0 0 0;
              margin: 0;
              text-align: left;
              text-decoration: underline;
            }
            p,
            h3 {
              margin: 0;
              padding-bottom: 5px;
            }
            .amount-control {
              display: flex;
              flex-direction: row;
              align-items: center;
              p {
                padding: 0 20px;
                text-decoration: none;
              }
              button {
                padding: 10px 15px;
                text-decoration: none;
                &:disabled {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
    // ABOUT
    .aboutS {
      margin: 0 40px 40px 40px;
      @media screen and (min-width: 750px) {
        margin: $nav-height 0px 40px 0px;
      }
      text-align: left;
      h2 {
        font-size: 24px;
        padding: 20px 0 0 0;
        margin: 0;
        border-top: rgb(158, 158, 158) 1px solid;
      }
      p {
        margin: 10px 0;
      }
      .H1textForfatter {
        .vForfattereP {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          margin: 20px 0;
          gap: 20px;
          .vForfattereC {
            img {
              width: 100%;
              height: 230px;
              object-fit: cover;
            }
            a {
              color: $sub-nav-text;
              text-decoration: none;
            }
          }
        }
      }
    }
    // Forfatter details
    .ForfatterWidth {
      margin: 0 40px 40px 40px;
      h2 {
        margin: 40px 0 40px 0;
      }
      .ForfatterInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        p {
          margin: 0px 80px;
          text-align: start;
        }
      }
    }
    // ORDER / PAYMENT
    .order {
      text-align: left;
      .overview {
        div {
          div {
            display: flex;
            flex-direction: row;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            margin: 10px 0;
            align-items: center;
            div {
              flex-direction: column;
              padding: 0 10px;
              margin: 0;
              border-bottom: none;
              align-items: flex-start;
              p {
                padding: 0;
                margin: 0;
              }
            }
          }
        }
        img {
          width: 30px;
          height: 100%;
        }
      }
      section {
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        padding: 20px 20px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2,
        p {
          margin: 0;
        }
        > * {
          max-width: 400px;
          width: 100%;
        }
      }
      .thanks {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 0;
        background-color: rgba(128, 128, 128, 0.589);
        overflow: hidden;
        section {
          width: 400px;
          top: 20vh;
          left: 50%;
          position: fixed;
          transform: translateX(-50%);
          p {
            padding: 20px 0;
          }
        }
      }
      .delivery,
      .payment {
        div h2 {
          font-size: 20px;
          padding-bottom: 20px;
        }
        form {
          display: flex;
          flex-direction: column;
          // inputs
          .methode {
            display: flex;
          }
          label {
            display: grid;
            gap: 5px;
          }
          input[type="text"],
          input[type="number"] {
            padding: 10px;
            width: 100%;
            height: 40px;
            border: 2px solid #d7b191;
            border-radius: 5px;
            max-width: 300px;
          }
          input[name="cardNumber"] {
            letter-spacing: 1px;
          }
          input[name="cvv"] {
            width: 150px;
            letter-spacing: 1px;
          }
          input[name="expirationDate"] {
            width: 150px;
          }

          // errors
          input[type="text"]:not(:placeholder-shown):valid,
          input[type="number"]:not(:placeholder-shown):valid {
            border-color: greenyellow;
            background-position: right 16px center;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><circle cx='10' cy='10' r='10' fill='greenyellow'/><path stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10' fill='none'  d='M 16.5 5  l -8 10  l -5 -6'></path></g></svg>");
          }
          input[type="text"].interacted:invalid,
          input[type="number"].interacted:invalid {
            border-color: red;
            background-position: right 16px center;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><circle cx='10' cy='10' r='10' fill='red'/><path fill='%23FFFFFF' d='M9,6.84848485 C9,5.93939394 9.4,5.33333333 10,5.33333333 C10.6,5.33333333 11,5.93939394 11,6.84848485 L11,10.4848485 C11,11.3939394 10.6,12 10,12 C9.4,12 9,11.3939394 9,10.4848485 L9,6.84848485 Z M10,14.6666667 C9.41666667,14.6666667 9,14.25 9,13.6666667 C9,13.0833333 9.41666667,12.6666667 10,12.6666667 C10.5833333,12.6666667 11,13.0833333 11,13.6666667 C11,14.25 10.5833333,14.6666667 10,14.6666667 L10,14.6666667 Z'/></g></svg>");
          }
          input[type="text"]:invalid + .error,
          input[type="number"]:invalid + .error {
            max-height: 100%;
          }
          .error {
            color: red;
            max-height: 0;
            overflow: hidden;
          }
        }
      }
    }
    // SEARCH PAGE
    .search-page {
      .seperators {
        text-align: left;
        border-bottom: solid 1px rgb(185, 185, 185);
        padding: 5px 0;
      }
      h2 {
        font-weight: normal;
        strong {
          font-weight: bold;
          font-style: italic;
        }
      }
      .search-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 20px 0;
        gap: 20px;
        .bog-element {
          display: flex;
          a {
            text-decoration: none;
          }
          .background {
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            padding: 10px;
            border: $light-gray 2px solid;
            .content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              width: 100%;
              .info {
                display: flex;
                flex-direction: column;
                color: black;
                text-align: left;
                padding: 20px 0;
                .titel {
                  margin: 0;
                  font-size: 16px;
                  text-decoration: underline;
                }
                .forfatter {
                  margin: 0;
                  font-size: 12px;
                }
                .pris {
                  margin: 0;
                  background-color: $price-color;
                  width: fit-content;
                  padding: 5px;
                  margin-top: 10px;
                  color: white;
                  border-radius: 5px;
                  font-weight: bold;
                }
              }
              .image-holder {
                height: 200px;
                width: 100%;
                background-color: $light-gray;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                .forsidebillede {
                  height: 100%;
                  border-radius: 5px;
                  object-fit: contain;
                  object-position: top;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
      .books {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 40px 0;
        gap: 40px 20px;
        .bog-element {
          display: flex;
          a {
            text-decoration: none;
          }
          .background {
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            padding: 0 20px;
            .content {
              display: flex;
              flex-direction: column;
              padding: 0;
              justify-content: space-between;
              margin-top: -30px;
              height: 100%;
              width: 100%;
              .info {
                display: flex;
                flex-direction: column;
                color: black;
                text-align: left;
                padding: 20px 0;
                .titel {
                  margin: 0;
                  font-size: 16px;
                  text-decoration: underline;
                }
                .forfatter {
                  margin: 0;
                  font-size: 12px;
                }
                .pris {
                  margin: 0;
                  background-color: $price-color;
                  width: fit-content;
                  padding: 5px;
                  margin-top: 10px;
                  color: white;
                  border-radius: 5px;
                  font-weight: bold;
                }
              }
              .image-holder {
                height: 200px;
                width: 100%;
                background-color: $light-gray;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                .forsidebillede {
                  height: 100%;
                  border-radius: 5px;
                  object-fit: contain;
                  object-position: top;
                }
              }
            }
            button {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  // FOOTER
  footer {
    background: $nav-and-footer;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    justify-content: center;
    div {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
    }
    div div:first-of-type {
      text-align: right;
    }
    div div {
      max-width: $max-width / 2;
      text-align: left;
      flex-grow: 1;
      flex-basis: 200px;
      padding: 20px;
      p {
        line-height: 150%;
        width: 100%;
      }
    }
    div:last-of-type {
      flex-direction: column;
      padding-bottom: 20px;
      .some {
        display: flex;
        flex-direction: row;
        padding: 0;
        max-height: 30px;
        svg {
          width: 25px;
          fill: white;
          stroke: white;
          line {
            fill: white;
            stroke: white;
          }
          path {
            stroke: white;
            stroke-width: 2px;
          }
        }
      }
      a {
        color: white;
        font-size: 12px;
        &:last-of-type {
          padding-bottom: 30px;
        }
      }
    }
  }

  // BOOK DISPLAYS
  .frontpage .book-cta div.bog-element,
  .newest-books .bog-element {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    .background {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      .content {
        display: flex;
        flex-direction: row;
        padding: 0;
        .info {
          display: flex;
          flex-direction: column;
          color: black;
          width: 60%;
          padding: 0 0 0 5px;
          text-align: left;
          .titel {
            margin: 0;
            font-size: 16px;
          }
          .forfatter {
            margin: 0;
            font-size: 12px;
          }
          .pris {
            margin: 0;
            background-color: $price-color;
            width: fit-content;
            padding: 5px;
            margin-top: 5px;
            color: white;
            border-radius: 5px;
          }
          .beskrivelse {
            font-size: 10px;
          }
        }
        .forsidebillede {
          width: 40%;
          border-radius: 5px;
          object-fit: contain;
          object-position: top;
          height: fit-content;
        }
      }
    }
  }

  // BLOG DISPLAY
  .blog-page {
    text-align: left;
    .blogs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;
      padding: 40px 0;
    }
  }

  .blog-element,
  .blog-grid .blog-element {
    display: flex;
    .blog-background {
      background-color: white;
      border: $light-gray 2px solid;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
      .blog-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        .blogBillede {
          width: 100%;
          border-radius: 5px;
          align-self: center;
        }
      }
      .blog-info {
        display: flex;
        flex-direction: column;
        color: black;
        width: 100%;
        text-align: left;
        a {
          color: black;
          margin: 0;
          text-decoration: none;
        }
        p {
          opacity: 40%;
          margin: 0;
          font-size: 12px;
        }
        h2 {
          font-size: 18px;
          font-weight: normal;
          padding-top: 5px;
          margin: 0;
        }
      }
    }
  }
  // BLOG DETAILS
  .blog-details-holder {
    margin: auto;
    .blog-details-content {
      text-align: left;
    }
    .blog-details-info {
      display: flex;
      flex-direction: column;
      p {
        width: 70%;
        align-self: center;
      }
      figure {
        display: flex;
        flex-direction: column;
        align-content: center;
        img {
          width: 50%;
          height: 100%;
          align-self: center;
        }
        figcaption {
          opacity: 50%;
          text-align: center;
          width: 50%;
          align-self: center;
        }
      }
    }
    .blog-details-titel {
      margin: 20px 0 0 0;
      text-align: center;
    }
    .upper-holder {
      @media screen and (min-width: 750px) {
        display: flex;
        flex-direction: row;
        .image-holder {
          max-width: 50%;
          margin-right: 20px;
        }
      }
    }
  }
}
