$nav-and-footer: linear-gradient(#2e5446, #39705c);
$nav-text: #fff;
$nav-height: 80px;
$sub-nav: #a4c2b0;
$sub-nav-text: #000;
$max-width: 1200px;
$splash-overlay: #1c3326e7;
$background-green: #2e5446;
$cta-color: #f9ea9d;
$price-color: rgb(52, 117, 52);
$dropshadow: rgba(0, 0, 0, 0.2) 2px 4px 8px;

body {
  overflow-x: hidden;
}
.App {
  * {
    transition: 0.2s all;
  }
  text-align: center;
  a:hover,
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .cta-contrast {
    background-color: $cta-color !important;
    color: black !important;
    border: none;
    box-shadow: $dropshadow;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
  }

  header {
    z-index: 10;
    // NAVIGATION
    .some-nav {
      background-color: black;
      height: 20px;
      padding: 5px;
      .max-width {
        max-width: $max-width;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .social-media-icon {
          height: 20px;
          padding: 0 5px;
          svg,
          svg g path {
            height: inherit;
            fill: white;
          }
          #Mail_sort {
            .cls-1 {
              fill: black;
              stroke: white;
              stroke-width: 5px;
            }
            line {
              stroke: white;
              stroke-width: 5px;
            }
          }
        }
      }
    }
    .navigation-line {
      background-image: $nav-and-footer;
      z-index: 10;
      &.nav-closed {
        height: $nav-height;
      }
      .content {
        max-width: $max-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $nav-text;
        margin: auto;
        .nav-logo {
          position: absolute;
          left: 0;
          top: 30px;
          padding: 20px 10px;
          a {
            display: flex;
            justify-content: center;
          }
          #logo-svg {
            height: 35px;
            fill: white;
          }
        }
        a {
          text-decoration: none;
          align-self: center;
          &.chosen {
            border: solid rgba(255, 255, 255, 0.5) 1px;
            border-radius: 5px;
          }
        }
        .kurv-cta {
          display: flex;
          flex-direction: row;
          align-items: center;
          #kurv-svg {
            width: 30px;
            margin-left: -10px;
          }
        }
        .cta-contrast {
          height: 40px;
          padding: 0 20px;
          align-self: center;
        }
        .nav-mobile {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          color: $nav-text;
          padding-top: $nav-height;
          a,
          div a {
            padding: 5px 0;
          }
          .nav-sub-arrow {
            &.closed {
              rotate: 180deg;
            }
          }
          .nav-subpages .content {
            display: flex;
            flex-direction: column;
            background-color: $sub-nav;
            a button {
              color: $sub-nav-text;
            }
          }
          .search {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
        }
        #search-svg {
          width: 25px;
          fill: white;
        }
        .nav-web {
          height: $nav-height;
          display: flex;
          flex-direction: row;
          a,
          div div a {
            padding: 10px;
            align-content: center;
            display: flex;
          }
          div {
            align-content: center;
            display: flex;
            label {
              align-items: center;
              display: flex;
            }
          }
          .nav-subpages {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            height: $nav-height;
            padding: 0;
            top: $nav-height + 30px;
            background-color: $sub-nav;
            .content {
              display: flex;
              flex-direction: row;
              max-width: $max-width;
            }
            a button {
              color: $sub-nav-text;
            }
            .nav-arrow {
              width: 15px;
              height: 15px;
              position: absolute;
              top: -8px;
              rotate: 45deg;
              background-color: $sub-nav;
            }
          }
        }
        #search {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 5px 7px;
          border-radius: 5px;
          border: none;
          box-shadow: inset rgba(0, 0, 0, 0.418) 2px 2px 5px;
          &:focus {
            background-color: white;
          }
        }
        .burger-menu-icon {
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0;
          top: 30px;
          margin: 20px 10px;
        }
        button,
        div button {
          color: $nav-text;
          background-color: rgba(255, 255, 255, 0);
          border: none;
          cursor: pointer;
        }
      }
      .content-web {
        .nav-logo {
          position: relative;
          align-items: center;
          display: flex;
          top: 0;
        }
      }
    }
  }

  main {
    .max-width {
      width: 100%;
      max-width: $max-width;
      margin: auto;
      height: 100%;
    }
    // FRONTPAGE
    .frontpage {
      .splash {
        height: 80vh;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
          z-index: 1;
          position: relative;
          top: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
        }
        .overlay {
          background-image: linear-gradient(#15221a, $splash-overlay 10%);
          height: 100%;
          width: 100%;
          position: relative;
          top: -100%;
          z-index: 2;
        }
        .white-wave {
          background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="1288.006" height="150" viewBox="0 0 1288.006 150"><path id="Path_57" fill="white" data-name="Path 57" class="cls-1" d="M-8241-10906.741h1288.006v-81.99s-97.034-99.546-327.593-110.035-290.152,105.348-562.449,110.035S-8241-11037.61-8241-11037.61Z" transform="translate(8241 11099.438)"/></svg>');
          position: absolute;
          width: 102%;
          height: calc(80vh + 120px);
          top: 0;
          left: -1%;
          z-index: 3;
          background-repeat: no-repeat;
          background-size: contain;
          background-position-y: bottom;
          pointer-events: none;
        }
        .content {
          position: relative;
          text-align: center;
          top: -200%;
          color: white;
          z-index: 4;
          .logo {
            svg {
              height: 100px;
              fill: white;
              padding-top: 40px;
            }
          }
          h1 {
            font-size: 40px;
            margin: 0;
          }
          p {
            font-size: 20px;
          }
          .books {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .books-in-splash {
              width: 100px;
              margin: 15px;
              height: fit-content;
              display: none;
              img {
                width: 100%;
                box-shadow: $dropshadow;
              }
              &.book0 {
                opacity: 0.8;
                order: 1;
                @media screen and (min-width: 800px) {
                  display: block;
                }
              }
              &.book4 {
                opacity: 0.8;
                order: 5;
                @media screen and (min-width: 800px) {
                  display: block;
                }
              }
              &.book1 {
                width: 150px;
                order: 2;
                @media screen and (min-width: 600px) {
                  display: block;
                }
              }
              &.book3 {
                width: 150px;
                order: 4;
                @media screen and (min-width: 600px) {
                  display: block;
                }
              }
              &.book2 {
                width: 175px;
                order: 3;
                display: block;
              }
            }
          }
        }
      }
      .newest-books {
        padding: 40px;
        .max-width {
          overflow-x: scroll;
          overflow-y: hidden;
          .books {
            display: flex;
            flex-direction: row;
            width: fit-content;
            .bog-element {
              width: 250px;
              flex-grow: 1;
              margin: 20px;
            }
          }
        }
      }
      .book-cta {
        background-color: $background-green;
        padding: 60px 0;
        div {
          display: flex;
          flex-direction: column;
          color: white;
          padding: 20px 0;
          @media screen and (min-width: 1080px) {
            flex-direction: row;
            section {
              width: 50%;
            }
          }
        }
        .book-grid {
          display: grid;
          gap: 40px 15px;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          margin: 20px;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 40px;
          h2 {
            font-size: 30px;
            font-size: clamp(25px, 5vw, 50px);
          }
        }
      }
      .blog-cta {
        display: grid;
        background-color: white;
        color: black;
        padding: 20px 0;
        grid-template-columns: repeat(auto-fit, 100%);
        @media screen and (min-width: 500px) {
          grid-template-columns: repeat(auto-fit, 50%);
        }
      }
      .newsletter-cta {
        background-color: $background-green;
        color: white;
        padding: 40px 0;
        .holder {
          width: clamp(100px, 60%, 600px);
          margin: auto;
          padding: 40px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 5px;
        }
        h2 {
          font-size: 30px;
          font-size: clamp(25px, 5vw, 50px);
        }
        form {
          label {
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            width: 60%;
            input {
              border-radius: 5px;
              border: none;
              box-shadow: inset rgba(0, 0, 0, 0.329) 2px 2px 5px;
              padding: 5px;
              margin-top: 5px;
            }
            .error {
              color: rgb(243, 144, 144);
              text-align: center;
            }
          }
        }
      }
      .socials {
        padding: 40px;
        .holder {
          h2 {
            font-size: 30px;
            font-size: clamp(25px, 5vw, 50px);
          }
          div {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
            .social-media-icon {
              width: 70px;
              height: 70px;
              margin: 10px;
            }
          }
        }
      }
    }
    // WEBSHOP
    .webshop {
      .books {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 40px 0;
        gap: 40px 20px;
        .bog-element {
          display: flex;
          a {
            text-decoration: none;
          }
          .background {
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            justify-content: space-between;
            padding: 5px;
            box-shadow: $dropshadow;
            width: 100%;
            padding: 0 20px;
            .content {
              display: flex;
              flex-direction: column;
              padding: 0;
              justify-content: space-between;
              margin-top: -30px;
              height: 100%;
              width: 100%;
              .info {
                display: flex;
                flex-direction: column;
                color: black;
                text-align: left;
                padding: 20px 0;
                .titel {
                  margin: 0;
                  font-size: 16px;
                  text-decoration: underline;
                }
                .forfatter {
                  margin: 0;
                  font-size: 12px;
                }
                .pris {
                  margin: 0;
                  background-color: $price-color;
                  width: fit-content;
                  padding: 5px;
                  margin-top: 10px;
                  color: white;
                  border-radius: 5px;
                  font-weight: bold;
                }
              }
              .image-holder {
                height: 200px;
                width: 100%;
                background-color: rgb(241, 241, 241);
                padding: 10px;
                box-sizing: border-box;
                border-radius: 5px;
                box-shadow: $dropshadow;
                .forsidebillede {
                  height: 100%;
                  border-radius: 5px;
                  object-fit: contain;
                  object-position: top;
                  box-shadow: $dropshadow;
                }
              }
            }
            button {
              margin: 0 20px 20px 20px;
            }
          }
        }
      }
      .sorting {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: solid rgba(0, 0, 0, 0.247) 1px;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;
        p {
          margin: 0 10px 0 0;
          font-size: 12px;
        }
        select {
          background-color: white;
          padding: 5px 7px;
          border-radius: 5px;
          border: none;
          box-shadow: inset rgba(0, 0, 0, 0.2) 2px 2px 7px;
          option {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  // FOOTER
  footer {
    background-image: $nav-and-footer;
    height: 100px;
  }

  // BOOK DISPLAYS
  .frontpage .book-cta div.bog-element,
  .newest-books .bog-element {
    display: flex;
    .background {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 5px;
      justify-content: space-between;
      box-shadow: $dropshadow;
      a {
        text-decoration: none;
      }
      .content {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: -30px;
        .info {
          display: flex;
          flex-direction: column;
          color: black;
          width: 60%;
          padding: 20px 0 0 5px;
          text-align: left;
          .titel {
            margin: 0;
            font-size: 16px;
          }
          .forfatter {
            margin: 0;
            font-size: 12px;
          }
          .pris {
            margin: 0;
            background-color: $price-color;
            width: fit-content;
            padding: 5px;
            margin-top: 5px;
            color: white;
            border-radius: 5px;
          }
          .beskrivelse {
            font-size: 10px;
          }
        }
        .forsidebillede {
          width: 40%;
          border-radius: 5px;
          object-fit: contain;
          object-position: top;
          height: fit-content;
          box-shadow: $dropshadow;
        }
      }
    }
  }

  // BLOG DISPLAY
  .Blogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 40px 40px 40px 60px;
    gap: 40px 0px;
  }

  .blog-titel {
    font-size: 40px;
  }

  .blog-element {
    display: flex;
    .blog-background {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 5px;
      width: 70%;
      box-shadow: $dropshadow;
      .blog-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: -30px;
        .blog-info {
          display: flex;
          flex-direction: column;
          color: black;
          width: 100%;
          padding: 20px 0 0 5px;
          text-align: left;
        }
        .blogBillede {
          width: 50%;
          border-radius: 5px;
          margin-left: 60px;
          box-shadow: $dropshadow;
        }
      }
    }
  }
}
