$nav-and-footer: #1c3326;
$nav-text: #fff;
$nav-height: 80px;
$sub-nav: #a4c2b0;
$sub-nav-text: #000;
$max-width: 1200px;
$splash-overlay: #1c3326e7;
$background-green: #1c3326;
$cta-color: #f9ea9d;

.App {
  text-align: center;
  a:hover,
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .cta-contrast {
    background-color: $cta-color;
    color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.76) 2px 4px 8px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
  }

  // NAVIGATION
  .navigation-line {
    background-color: $nav-and-footer;
    z-index: 10;
    &.nav-closed {
      height: $nav-height;
    }
    .content {
      max-width: $max-width;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $nav-text;
      margin: auto;
      .nav-logo {
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px 10px;
      }
      .nav-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        color: $nav-text;
        padding-top: $nav-height;
        a,
        div a {
          padding: 5px 0;
        }
        .nav-sub-arrow {
          &.closed {
            rotate: 180deg;
          }
        }
        .nav-subpages .content {
          display: flex;
          flex-direction: column;
          background-color: $sub-nav;
          a button {
            color: $sub-nav-text;
          }
        }
      }
      .nav-web {
        height: $nav-height;
        display: flex;
        flex-direction: row;
        a,
        div div a {
          padding: 10px;
          align-content: center;
          display: flex;
        }
        div {
          align-content: center;
          display: flex;
        }
        .nav-subpages {
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
          height: $nav-height;
          padding: 0;
          top: $nav-height;
          background-color: $sub-nav;
          .content {
            display: flex;
            flex-direction: row;
            max-width: $max-width;
          }
          a button {
            color: $sub-nav-text;
          }
          .nav-arrow {
            width: 15px;
            height: 15px;
            position: relative;
            left: clamp(235px, 52vw, 620px);
            top: -27px;
            rotate: 45deg;
            background-color: $sub-nav;
          }
        }
      }
      .burger-menu-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 20px 10px;
      }
      button,
      div button {
        color: $nav-text;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;
      }
    }
    .content-web {
      .nav-logo {
        position: relative;
        align-items: center;
        display: flex;
      }
    }
  }

  main {
    // FRONTPAGE
    .frontpage {
      .splash {
        height: 100vh;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
          z-index: 1;
          position: relative;
          top: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
        }
        .overlay {
          background-color: $splash-overlay;
          height: 100%;
          width: 100%;
          position: relative;
          top: -100%;
          z-index: 2;
        }
        .content {
          position: relative;
          text-align: center;
          top: -200%;
          color: white;
          z-index: 3;
          .books-in-splash {
            width: 100px;
            padding: 10px;
          }
        }
      }
      .newest-books {
        padding: 40px;
        div {
          display: flex;
          flex-direction: row;
          .bog-element {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .book-cta {
        display: grid;
        background-color: $background-green;
        color: white;
        padding: 20px 0;
        grid-template-columns: repeat(auto-fit, 100%);
        @media screen and (min-width: 500px) {
          grid-template-columns: repeat(auto-fit, 50%);
        }
        .book-grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, 50%);
        }
      }
      .blog-cta {
        display: grid;
        background-color: white;
        color: black;
        padding: 20px 0;
        grid-template-columns: repeat(auto-fit, 100%);
        @media screen and (min-width: 500px) {
          grid-template-columns: repeat(auto-fit, 50%);
        }
      }
      .newsletter-cta {
        background-color: $background-green;
        color: white;
        padding: 40px 0;
        .holder {
          width: clamp(300px, 60%, 600px);
          margin: auto;
          padding: 40px;
          background-color: rgba(0, 0, 0, 0.3);
        }
        form label {
          display: flex;
          flex-direction: column;
        }
      }
      .socials {
        .holder {
          div {
            display: flex;
            flex-direction: row;
            margin: auto;
            justify-content: center;
            .social-media-icon {
              width: 50px;
              height: 50px;
              margin: 20px;
            }
          }
        }
      }
    }
  }

  // FOOTER
  footer {
    background-color: $nav-and-footer;
    height: 100px;
  }

  .bog-element {
    .forsidebillede {
      width: 150px;
    }
    .pris {
      font-weight: bold;
    }
  }
}
